* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
}


.container {
    display: flex;
}

img {
    width: 100%;
    height: 100%;
}

header {
    margin: auto;
    width: 100%;
    padding: 2px 0 4px 0;
    background-color: rgba(69, 29, 160, 255);
    margin-bottom: 30px;
}

header .content {
    font-weight: bold;
    width: 80%;
    margin: auto;
    color: white;
    align-items: center;
    justify-content: space-between;
}

header .content .logo {
    width: 150px;
}

header .content .nav ul {
    margin: 0px 20px;
    column-gap: 80px;
    justify-content: space-between;
}


header .content a {
    color: white;
}

header .content a:hover {
    color: aqua;
}

main {
    flex-direction: column;
    row-gap: 30px;
    width: 80%;
    margin: auto;
}

main .main_title {
    font-weight: bold;
    margin-bottom: -20px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

main .job-list {
    flex-direction: column;
    row-gap: 20px;
}

main .job-list .item {
    border: 1px solid red;
    border-radius: 14px;
    padding: 8px;
}

main .job-list .item {
    border: 1px solid#696a6b;
    border-radius: 14px;
    padding: 8px;
}

main .job-list .item:hover {
    border: 1px solid #2784e1;
    background-color: #dce8f5;
}

main .job-list .item .thumb {
    /* border: 1px solid red; */
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

main .job-list .item .content {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    /* font-weight: bold; */
}

main .job-list .item .content .title {
    color: black;
    font-size: 18px;
    /* text-transform: uppercase; */
}

main .job-list .item .content .subtitle {
    text-transform: uppercase;
    font-size: 14px;
    color: rgb(101, 101, 101);
}

/* main .job-list .item .content .more {
    column-gap: 120px;
} */

main .job-list .item .content .price {
    color: #2C95FF;
    font-weight: bold;
    font-size: 14px;
    width: 250px;
}

main .job-list .item .content .address {
    color: rgb(101, 101, 101);
    font-weight: bold;
    font-size: 14px;
}


main .job-list .row2 {
    text-align: right;
    justify-content: end;
}

footer {
    margin-top: 50px;
    padding: 20px;
    background-color: #1d558e;
    align-items: center;
    justify-content: center;
}

footer h1 {
    text-align: center;
    /* line-height: 200px; */
    font-size: 40px;
    font-style: italic;
    color: aliceblue;
}

footer:hover {
    color: #0d457e;
    background-color: #1c5c9c;
}

.i-gray {
    color: rgb(169, 167, 167);
}

.fas {
    padding-right: 6px;
}

.dropdown {
    /* position: absolute;
    top: 60px;
    left: 4px; */
    display: none;
}

@media (max-width: 768px) {
    .nav ul {
        display: none;
    }

    .nav ul {
        display: none;
    }

    .job-list .item .row1 .content {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
    }

    .more .price {
        max-width: max-content;
    }

    .more {
        justify-content: space-between;
    }


    .thumb {
        display: none;
    }

    .job-list .item .row2 {
        display: none;
    }

    footer h1 {
        text-align: center;
        /* line-height: 200px; */
        font-size: 20px;
        font-style: italic;
        color: aliceblue;
    }

    .main_title {
        margin-top: 20px;

    }

    .dropdown {
        position: absolute;
        top: 60px;
        left: 4px;
        display: block;
        /* z-index: 1000; */
    }

    .dropbtn {
        background-color: #584fc4;
        color: white;
        padding: 10px 14px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        border-radius: 4px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 250px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        color: white;
    }

    .dropdown-content a {
        color: black;
        padding: 10px 14px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #b2b7bd;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}

@media (max-width: 430px) {
    header {
        padding-bottom: 2px;
    }

    .item .more {
        flex-direction: column;
        row-gap: 10px;
    }
}